
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @using (Html.BeginForm())
    {
        <input type="text" value="Deneme" />
        <input type="submit" value="Kaydet" />
    }
</body>
</html>
